<?php

namespace App\Entity;

use App\Repository\UserRepository;
use Mbrianp\FuncCollection\ORM\Attributes\Column;
use Mbrianp\FuncCollection\ORM\Attributes\Id;
use Mbrianp\FuncCollection\ORM\Attributes\Repository;

#[Repository(class: UserRepository::class)]
class User
{
    #[Id]
    #[Column]
    public ?int $id;

    #[Column]
    public ?string $name;

    #[Column]
    public ?string $lastname;
}